version: '3.8'

services:
  admin-panel:
    build: .
    container_name: sda-admin-panel
    command: python manage.py runserver 0.0.0.0:8001
    volumes:
      - .:/app
      - ../sda/uploads:/app/uploads
      - static_volume:/app/staticfiles
    ports:
      - "8001:8001"
    env_file:
      - .env
    environment:
      - MEDIA_ROOT=/app/uploads
      - POSTGRES_SERVER=sda-db-1
      - POSTGRES_PORT=5432
    networks:
      - sda_sda_network

networks:
  sda_sda_network:
    external: true

volumes:
  static_volume:
